@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

image {
    width: 100%;
}

.vars {
    --color-blue: rgb(36, 109, 235);
    --color-text: rgb(10, 19, 57);
    --color-gray: rgb(196, 196, 196);
}

body {
    --breakpoint-1: 1200px;

    font-family: Roboto, sans-serif;
    color: var(--color-text);
    font-size: 14px;
    line-height: 16px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

    @media (max-width: 1200px) {
        max-width: 930px;

    }

    @media (max-width: 991px) {
        max-width: 730px;
    }

    @media (max-width: 786px) {
        max-width: 100%;
    }

}

.btn {
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto;
    cursor: pointer;

    &.btn-active {
        background: var(--color-blue);
        color: white;
    }

    &.btn-outline {
        color: var(--color-text);
        background-color: transparent;
    }

    &.btn-large {
        padding: 20px 72px;
        height: fit-content;
    }
}



.header {
    height: 90px;
    padding-top: 30px;
    padding-bottom: 24px;

    .header-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            text-decoration: none;

            color: var(--color-text);

            .header-logo {
                text-decoration: none;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
            }
        }

        .header-controls {

            display: flex;
            align-items: center;
            gap: 10px;
            width: fit-content;

            .login-text {
                cursor: pointer;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }

            @media (max-width: 786px) {
                display: none;
            }
        }

        .header-burger {
            display: none;

            @media (max-width: 786px) {
                display: block;
            }

            .burger__menu--icon {
                cursor: pointer;
                width: 30px;
                height: 30px;
            }
        }

    }
}

.search {
    margin-bottom: 45px;


    .search-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-start;
        background-color: var(--color-blue);
        border-radius: 5px;
        border: 3px solid var(--color-blue);

        .search-box__input {
            flex-grow: 1;
            outline: none;
            border: none;
            border-radius: 3px;
            padding: 14px 22px;
            min-width: 0;

            &::placeholder {
                opacity: 0.4;
            }
        }

        .search-btn {
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            gap: 5px;

            .search-btn__icon {
                width: 15px;
                height: 15px;
            }

            .search-btn__text {
                font-size: 16px;
                line-height: 19px;
            }

            @media (max-width: 768px) {
                padding-left: 12px;
                padding-right: 12px;

                .search-btn__text {
                    display: none;
                }
            }
        }
    }
}

.content {
    .content-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 30px;
        margin-bottom: 50px;

        @media (max-width: 1200px) {
            flex-direction: column;
            row-gap: 38px;
            margin-bottom: 10px;
        }

        .content-main {
            flex-grow: 1;
            flex-direction: column;
            display: flex;

            .content-main__title {
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 25px;
                font-weight: 700;
            }

            .card-list {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                row-gap: 40px;
                column-gap: 30px;

                .card {
                    text-decoration: none;
                    width: calc((100% - 60px) / 3);
                    /* height: 280px; */
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    cursor: pointer;



                    @media (max-width: 1200px) {
                        width: calc((100% - 30px) / 2);
                    }

                    @media (max-width: 480px) {
                        width: 100%;
                        /* max-width: 260px; */

                    }

                    .card--img {
                        width: 100%;

                        border-radius: 10px;
                    }

                    .card-info {
                        display: flex;
                        flex-direction: column;

                        .card-list__card--title {
                            color: var(--color-text);
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            margin-bottom: 5px;


                        }

                        .card-price {
                            color: var(--color-text);
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            margin-bottom: 10px;
                        }

                        .card-footer {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            font-size: 14px;
                            line-height: 16px;
                            color: var(--color-gray);
                            font-weight: normal;
                        }
                    }

                    &:hover {
                        .card-list__card--title {
                            color: var(--color-blue);
                        }
                    }
                }
            }


        }

        .content-product {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            row-gap: 30px;
            column-gap: 20px;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .content-product__title {
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 25px;
                font-weight: 700;
            }

            .content-product__left {


                .content-main__img {
                    width: 100%;
                    border-radius: 10px;
                    object-fit: contain;
                }

                .content-product__text {
                    margin-top: 20px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            .content-product__right {
                display: flex;
                flex-direction: column;
            }
        }

        .content-side {
            min-width: 260px;
            max-width: 260px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 120px;

            @media (max-width: 991px) {
                max-width: 100%;
                min-width: none;
                row-gap: 60px;
            }

            .services {
                display: flex;
                flex-direction: column;
                gap: 23px;
                padding-bottom: 36px;
                border-bottom: 1px solid rgb(229, 229, 229);


                .services-title {
                    font-size: 18px;
                    line-height: 21px;
                    font-weight: 700;
                }

                .services-box {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    .services-box__service {
                        .service-img {
                            width: 30px;
                            height: 30px;
                            margin-bottom: 7px;
                        }

                        .service-title {
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .content-side__footer {
                color: var(--color-gray);
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-size: 14px;
                line-height: 16px;

                a {
                    text-decoration: none;
                    color: var(--color-gray);

                    &:hover {
                        color: var(--color-blue);
                    }
                }
            }
        }
    }
}